body {
	font-family: tahoma, helvetica, arial, sans-serif;
	text-align: left;
	color: #6f6f6f;
}

html {
    scroll-behavior: smooth;
}

h1, h2, p {
    margin: 0;
}
  
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
    height: 199px;
    display: block;
}
  
.section-title {
    position: relative;
    font-size: 2rem;
    color: #38D0D6;
    margin-top: 2rem;
    margin-bottom: 3rem;
    text-align: center;
}
  
.section-title::after {
    position: absolute;
    content: "";
    width: 64px;
    height: 0.18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 2rem;
    background-color: #38D0D6;
}
  
.section {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.nav__item {
    margin-bottom: 2rem;
    color: #fff;
}
  
.nav__link {
    position: relative;
    color: #fff;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600;700&display=swap");

:root {
  --header-height: 3rem;
  --font-semi: 600;
}

:root {
  --body-font: 'Roboto Mono', monospace;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
}

@media screen and (min-width: 768px) {
  :root {
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
  }
}

:root {
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}

:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}
